@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto Mono', monospace;
}

#zeit-container{
    position: fixed;
    top: 20px;
    left: 20px;

}

#zeit-mask{
    width: 100px;
    height: 20px;
    /* background: pink; */
    overflow: hidden;
    color: white;
}

#zeit-list{
    transform: translateY(0px);
}

.zeit{
    font-size: 20px;
    line-height: 1;
    list-style: none;
}

.Box-container{
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
}

.box{
    flex: 1;
}

/* .box:nth-child(even){
    background-color: aqua;
} */

#test{
    width: 100ww;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 10vw;
}